# Binaries
nash
main
tmp/

# Directories
cmd/server/dist
frontend/dist
frontend/node_modules
frontend/coverage
frontend/.storybook-static
e2e/node_modules
e2e/test-results
e2e/playwright-report

# IDEs
.idea
.vscode
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.sh
.env.local
